$b-color: black;
$header-color: #A68D5D;
$header-color-hover: #847C6A;
$p-text-color: #BCBDC1;
$p-bg-color: #404040;


.container {
  width: 400px;
}

.accordion {
  width: 100%;
  height: 100%;
  border: 2px solid $b-color;

  > div {
    padding: 0;
    margin: 0;
  }
 }

.acc-item {
  width: 100%;
  background-color: $p-bg-color;
  > h2 {
    color: white;
    background-color: $header-color;
    border-top: 2px solid $b-color;
    border-left: 2px solid $b-color;
    border-right: 2px solid $b-color;
    padding: 5px;
    margin: 0;

    &:hover {
      cursor: pointer;
      background-color: $header-color-hover;
    }
  }

  > p {
    color: $p-text-color;
    background-color: $p-bg-color;
    transition: height .5s ease-out, opacity .5s 0;
    height: 0;
    padding: 0 2.5px;
    margin: 0 5px;
    opacity: 0;
    overflow: scroll;
  }
}


.expanded {
  > h2 {
    border-bottom: 2px solid $b-color;
  }

  > p {
    opacity: 1;
    height: 200px;
  }
}

